.cards {
  padding: 80px 0 60px;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  height: 100%;
}

.centered {
  align-items: center;
}

.cards_isSaved {
  padding-bottom: 230px;
}

.cards__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  justify-content: center;
  gap: 32px 28px;
}

.cards__item {
  list-style-type: none;
}

.cards__button-more {
  color: #fff;
  border-radius: 6px;
  background: #2f2f2f;
  width: 1140px;
  height: 36px;
  border: none;
  font-size: 12px;
  font-weight: 500;
  max-width: 100%;
  margin: 60px 0 80px;
  visibility: visible;
}

.cards__button-more:hover {
  border: 3px solid #2be080;
  opacity: 0.7;
  cursor: pointer;
}

.cards__button-more_hidden {
  visibility: hidden;
}

@media screen and (max-width: 1024px) {
  .cards__list {
    grid-template-columns: repeat(auto-fill, 342px);
    gap: 35px 24px;
  }
}

@media screen and (max-width: 567px) {
  .cards {
    padding: 50px 0 80px;
  }

  .cards__list {
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 16px;
  }
}
