.navigation__overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  opacity: 0.3;
  background: #000;
  z-index: 999;
}

.navigation__container {
  flex: 1 1 auto;
}

.navigation__menu {
  position: relative;

  box-sizing: border-box;
  width: 520px;
  background: #202020;
  height: 100vh;
  padding: 159px 90px 92px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  justify-content: space-between;
  transition: 0.8s ease-in-out;
  transform: translateX(100%); /* Начальное состояние - скрыто */
}

.navigation__menu.open {
  transform: translateX(0); /* Появление при открытии */
}

.navigation__close-button {
  position: absolute;
  top: 22px;
  right: 22px;
  background-image: url("../../images/close-button.svg");
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navigation__links {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.navigation__button {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  width: max-content;
  align-self: center;
}

.navigation__button:hover {
  opacity: 0.7;
}

.navigation__button_active {
  border-bottom: #fff 2px solid;
}

.navigation__profile {
  width: 100px;
  height: 32px;
}

.navigation__profile:hover {
  opacity: 0.7;
}

@media screen and (max-width: 567px) {
  .navigation {
    width: 100%;
  }
}
