.popup {
  font-family: "Inter", Arial, sans-serif;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition: visibility 0.6s, opacity 0.6s;
  visibility: hidden;
}

.popup_fadeout {
    opacity: 0;
  }

.popup_opened {
  opacity: 1;
  visibility: visible;
}

.popup__container {
  width: 430px;
  background-color: white;
  color: black;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px 37px;
}

.popup__container_type_infotooltip {
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup__container_type_auth {
  font-family: "Inter", Arial, sans-serif;
  color: white;
  background-color: black;
}

.popup__close {
  background: transparent url(../../images/closeIcon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  transition: 0.3s ease;
}

.popup__close:hover {
  opacity: 0.6;
}

.popup__authorization__infotooltip-image {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  margin: 26px 0 32px;
}

.popup__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  margin: 0 0 44px;
  text-align: center;
}

.popup__title_type_auth {
  margin: 0 0 50px;
  text-align: center;
}

.popup__title_type_confirm {
  margin: 0 0 20px;
}

.popup__title_type_success {
  margin: 0;
}

@media screen and (max-width: 867px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
  }

  .popup__close {
    width: 22px;
    height: 22px;
    top: -32px;
    right: 0;
  }

  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 75px;
  }
}

@media screen and (max-width: 320px) {
  .popup__container {
    width: calc(100% - 2 * 19px);
  }
}
