.techs {
  padding: 100px 70px;
  background: #272727;
  color: #fff;
}

.techs__title {
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin-top: 90px;
  margin-bottom: 26px;
}

.techs__subtitle {
  margin: 0 auto 100px;
  padding: 0;
  max-width: 460px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
}

.techs__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  gap: 10px;
  justify-content: center;
}

.techs__list-item {
  height: 60px;
  border-radius: 10px;
  list-style-type: none;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .techs {
    padding: 90px 50px;
  }

  .techs__title {
    margin-top: 80px;
    margin-bottom: 22px;
    transition: 1s ease-in-out;
  }

  .techs__subtitle {
    margin-bottom: 83px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
    max-width: 460px;
    transition: 1s ease-in-out;
  }

  .techs__list {
    grid-template-columns: repeat(auto-fit, 84px);
  }

  .techs__list-item {
    height: 57px;
    font-size: 12px;
    letter-spacing: -0.48px;
    width: 84px;
    height: 57px;
  }
}

@media screen and (max-width: 678px) {
  .techs {
    padding: 70px 14px;
    background: #202020;
  }

  .title_techs-mobile {
    border-bottom: #000 1px solid;
  }

  .techs__title {
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
  }

  .techs__subtitle {
    margin-bottom: 50px;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.44px;
  }

  .techs__list {
    grid-template-columns: repeat(2, 84px);
  }
}
