.header {
    position: relative;
    padding: 0 70px;
    min-height: 74px;
    display: flex;
    align-items: center;
    background: #073042;
  }

  .header__buttons-container {
    margin-left: auto;
    display: flex;
    gap: 30px;
  }

  .header__button {
    min-height: 32px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .header__button:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  
  .header__button-green {
    color: #000;
    background-color: #3ddc84;
    min-width: 76px;
    border-radius: 3px;
  }

  @media screen and (max-width: 1024px) {
    .header {
      padding: 0 30px;
    }
  
    .header__button-container_films {
      display: none;
    }
  
    .header__button-account {
      display: none;
    }
  
    .header__menu-button {
      display: flex;
    }
  }
  
  @media screen and (max-width: 567px) {
    .header {
      padding: 0 14px;
    }
  
    .header__button-container {
      gap: 14px;
    }
  
    .header__button {
      min-height: 26px;
      font-size: 10px;
    }
  
    .header__button-green {
      min-width: 54px;
    }
  }